{% extends "main.html" %}

{% block content %}

<div class="justify-content-center py-3">
    <div class="text-center">
        <form class="mb-3" action="" method="post">
            {% csrf_token %}
            <h1 class="h2 mb-3 fw-normal">Actualizar Datos de Lotería</h1>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="name" value="{{ lottery }}" id="id_lottery_name" maxlength="150" required readonly placeholder="Nombre de la Lotería">
                <label for="id_lottery_name">Nombre de la Lotería</label>
            </div>
            <div class="text-start text-muted mb-4">
                <span class="helptext">Requerido. Solo letras, dígitos y @/./+/-/_.</span>
            </div>
            
            <div style="overflow-y: scroll;max-height: 448px;">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <caption>El estado activo determina si la opción puede ser incluida en la venta de tickets.</caption>
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Icono</th>
                        <th scope="col" class="text-end">Activo</th>
                    </thead>
                        <tbody>
                            {% for pattern in pattern_set %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ pattern.icon.name }}</td>
                                <td>
                                    <div class="form-check form-switch form-check-reverse">
                                        <input class="form-check-input" type="checkbox" name="pattern" value="{{ pattern.pk }}" id="id_pattern" {% if pattern.is_active %}checked{% endif %}>
                                        <label class="form-check-label" for="id_pattern"></label>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="3"><span class="fs-5 text-muted">No tienes datos registrados aún.</span></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-grid gap-2 d-flex justify-content-end pt-4">
                <a href="{% url 'index' %}" class="btn btn-lg btn-outline-danger">Cancelar</a>
                <button class="btn btn-lg btn-outline-primary" type="submit">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}