{% extends "main.html" %}

{% block content %}

<div class="text-center">
    <h1 class="display-4 fw-normal">{{ request.user.betting_agency }}</h1>
    <p class="fs-5 text-muted">{{ request.user.betting_agency.description }}</p>
</div>

<div class="row row-cols-1 row-cols-sm-2 mb-3 text-center">
    {% for lottery in request.user.betting_agency.get_lotteries %}
    <div class="col">
        <div class="card my-3 shadow-sm">
            <div class="card-img-top">
                <a href="{% url 'sell_ticket' lottery.id %}"><img src="{{ lottery.picture.url }}" class="mt-3"
                    width="235" height="235" alt="Imagen representativa de {{ lottery }}">
                </a>
            </div>
            <div class="card-body">
                <span class="fs-5 card-title text-center">{{ lottery }}</span>
            </div>
            <div class="card-footer py-3">
                <a href="{% url 'sell_ticket' lottery.id %}" type="button" class="w-100 p-3 btn btn-lg btn-outline-primary">Vender ticket</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}