{% extends "base.html" %}

{% block main %}

<main>

    {% if messages %}
        {% for message in messages %}
            <div id="modal_message" class="modal my-4" tabindex="-1">
                <div class="modal-dialog">
                    <div class="alert 
                            {% if message.tags %}
                                {{ message.tags }}
                            {% endif %} 
                        alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="container p-3" style="max-width: 617px;">
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>
    
    {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}

</main>

{% endblock %}