{% extends "main.html" %}

{% block content %}

<div class="d-flex justify-content-center py-3">
    <div class="text-center">
        <form action="{% url 'password_change' %}" method="post" style="max-width: 480px;">
            {% csrf_token %}
            <h1 class="h2 mb-3 fw-normal">Cambiar Contraseña</h1>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" name="old_password" id="id_old_password" maxlength="128" autofocus autocomplete="current-password" required placeholder="Contraseña Anterior">
                <label for="id_old_password">Contraseña Anterior</label>
            </div>
            <div class="text-start text-muted my-4">
                <span class="helptext">
                    <span>Su contraseña...</span>
                    <ul>
                        <li>No puede ser similar a su otra información personal.</li>
                        <li>Debe contener al menos 8 caracteres.</li>
                        <li>No puede ser una contraseña de uso común.</li>
                        <li>No puede ser completamente numérica.</li>
                    </ul>
                </span>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" name="new_password1" id="id_new_password1" maxlength="128" required placeholder="Nueva Contraseña">
                <label for="id_new_password1">Nueva Contraseña</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" name="new_password2" id="id_new_password2" maxlength="128" required placeholder="Confimación de Contraseña">
                <label for="id_new_password2">Confirmación de Contraseña</label>
            </div>
            <div class="d-grid gap-2 d-flex justify-content-end">
                <a href="{% url 'index' %}" class="btn btn-lg btn-outline-danger">Cancelar</a>
                <button class="btn btn-lg btn-outline-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}