
<div id="to_print">
    <h4>{{ ticket.user.betting_agency }}</h4>
    <p>{{ TAX_PREFIX }} {{ ticket.user.betting_agency.tax_id }} </p>
    <p>Ticket #{{ ticket.get_readable_uuid }}</p>
    <p>{{ ticket.get_lottery.name }}</p>
    <p>Cliente: {{ ticket.client|default:"No Aplica" }}</p>
    <p>Fecha: {{ ticket.timestamp|date:'d/m/Y' }} {{ ticket.timestamp|date:'h:i a' }}</p>
    <p>Vendedor: {{ ticket.user.get_full_name }}</p>
    <p>--------------------------------</p>
    {% for row in ticket.rowticket_set.all %}
    <p>{{ row.draw.schedule.turn|date:'h:i A' }} - {{ row.icon.name }} - {{ request.user.betting_agency.get_currency_display }} {{ row.bet_amount }}</p>
        {% empty %}
            <h4>Sin sorteos</h4>
    {% endfor %}
    <p>--------------------------------</p>
    <h4>Total de apuesta: {{ request.user.betting_agency.get_currency_display }} {{ ticket.get_total_bet_amount }}</h4>
</div>
